
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	
	font-family: 'Ropa Sans', sans-serif;
	line-height: 2;
	display: block;
}
/* =======
Navigation 
======== */
.nav{
    width: 100%;
    
}
.nav ul{
    background-color: #B7A289;
    font-family: 'Lobster', cursive,
}

.nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
}
.nav ul li a{
    padding: 10px;
}

.toggle{
        width: 100%;
        padding: 10px 20px;
        background: #998874;
        text-align: right; 
        color: #fff;
        font-size: 30px;
        display: none;

    }
 .nav li:hover{
    background-color: #b2b2b2;
    font-weight: 600;
}
.nav li a{
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	color: white;
    display: inline-block;
    text-transform: uppercase;
    
    
}
.logo{
	height: 35px;
	margin: 6px 0;
	margin-bottom: 10px;
	float: left;
	margin-left: 50px;
	cursor: pointer;
	padding: 2px;
	background color: white;
}
	
}
.nav{
	background-color: #B7A289;
}
/* =======
Header - home
======== */
.header{
	 width:100%;
	 color:black;
	 margin: 0;
	 padding-bottom: 5px;
	 font-size: 2.8rem;
	letter-spacing: 5px;
	position: relative;
    text-align: center;
}
.headerpic{
	width: 100%;
	height: auto;
    max-height: 100%;
}
.gallery{
    height: 240px;
    padding: 15px;
    
}
.positioningtext{
    font-size: 4rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcfaf7;
    font-family: 'Lobster', cursive;
}
.testimonialpic{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.headerp{
	font-size: 30px;
	text-align: center;
	padding: 25px 0;
	letter-spacing: 2px;
    font-family: 'Lobster', cursive;
}
.headerpp{
    font-size: 50px;
	text-align: center;
	padding: 25px 0;
	letter-spacing: 2px;
    color: #fcfaf7;
    line-height: 500px;
    font-family: 'Lobster', cursive;
}
#name{
	text-align: center;
	margin: 40px 0;
	font-size: 36px;
	letter-spacing: 2px;
	}
.social{
	text-align: center;
	padding: 15px 0px;
	letter-spacing: 4px;
	font-weight: 600;
}

.social i {
	padding: 15px;
    font-size: 24px;
	cursor: pointer;
	background-color: white;
}
.cta{
    font-family:'Lobster',cursive;
    font-size: 1.5rem;
}
.fa{
	border-radius: 50%;
	font-size: 10px;
}

.search-form{
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin: 50px auto;
    width: 50%;
}
.form-search-input{
    height: 55px;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    color: #151515;
    transition: all 0.5s;

}
.form-search-submit{
    display: inline-block;
    width: 55px;
    height: 43px;
    border: 0;
    outline: 0;
    background-color: #151515;
    font-size: 22px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
}
 .fas{
    padding: 10px;
            }
.categorytitle{
	margin-left: 30px;
    font-family: 'Lobster', cursive;
}
.photocategory{
	margin:50px auto;
	display: block;
}
.testimonials{
	text-align: center;
	margin-bottom: 50px;
}
.clientbox{
	width: 33%;
	display: inline-block;

}

.clientbox{
	width: 33%;
	padding: 10px;
}
.clientbox p{
	margin-top: 10px;
	font-size: 12px;
	font-family: "Open Sans",sans-serif;
	line-height: 1.25;
	
}
.headerimg{
	 width:100%;
	 color:black;
	 padding: 50px;
	 padding-bottom: 5px;
	 background-position: center;
	 background-attachment: relative;
	 width: 100%;
	 height: 400px;
}
footer{
	background-color: #B7A289;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #161616;
	width:100%;
}
footer p {
	color: black;
	font-size: 16px;
	text-align: center;
    font-family: 'Lobster', cursive;
} 
.footersocial{
	text-align: center;
	font-size: 22px;
	padding-right: 10px;
	letter-spacing: 4px;
}
.footersocial i {
	padding: 10px;
	cursor: pointer;
	background-color: #B7A289;
}
/* =======
About
======== */
#about{
    margin-bottom: 100px;
}
#aboutpic{
	background-color: white;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: auto;
	display: block;
	margin: 60px auto;
}
#aboutname{
	font-size: 36px;
	margin: 10px auto;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 600;
}
#description{
	font-size: 12px;
	font-family: "Open Sans",sans-serif;
	text-align: center;
	letter-spacing: 1px;
	max-width: 450px;
	margin: 0 auto;
}
.border{
	border-bottom: 1px solid black;
	width: 40%;
	margin: auto;
}
/* =======
BlogSpace
======== */
#articleheader{
	font-size: 65px;
	padding: 15px;
	margin: 40px 0;
	margin-left: 70px;
	font-family: 'PT Sans', sans-serif;
}
#blogspace{
	font-family: 'PT Sans', sans-serif;
}
#articleheader p{
	font-size: 20px;
	
}
#blogsocial{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	text-align: left;
}
#blogsocial i{
	padding: 10px;
	cursor: pointer;
}
#textwall{
	display: block;
	width: 100%;
	margin: 30px auto;
}

.blogarticle{
    font-size: 26px;
    margin: 0 auto;
	padding: 15px;
	letter-spacing: 2px;
    font-family: 'Lobster', cursive;
}
#content{
    margin: 50px auto;
    width: 90%;
    text-align: center;
    
}
#content p{
    font-size: 15px;
    margin: 20px;
    margin-right: 20px;
    text-align: left;
    
}
.spanheader{
    font-weight: 600;
    font-size: 14px;
    display: block;
    text-align: left;
    font-size: 105%;
    padding: 10px;
}

#comments-container{
	border: 1px solid black;
	margin:30px auto;
    margin-top: 40px;
    padding: 5px;
    width: 90%;
    
}
.jquery-comments ul.main li.comment .actions .action{
    display: none;
}
/* =======
Contact
======== */
#specialhead{
    background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 400px;
}
.alert{
    display: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
        position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label{
    margin-top: 10px;
    
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=button]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */

#contact{
	text-align: center;
	display: block;
	font-size: 12px;
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	margin: 50px auto;
	width: 85%;
}

/* =======
The Process Page
======== */
.processwrapper{
    width: 75%;
    min-height: calc(100vh - 120px);
    margin: 0 auto;
}
.fab{
    font-size: 40px;
    cursor: pointer;
    padding: 30px;
    display: block;
  color: black;
}
.step{
        font-family: "Open Sans",sans-serif;
        font-size: 12px;
    letter-spacing: 1px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}
.step img{
    height: 55%;
    width: 40%;
    padding: 20px;
    margin: 0 auto;
}
.step p{
    margin: 20px auto;
}
.step ol{
    line-height: 3;
}
.step ol li ul li{
    font-weight: 600;
    margin-left: 50px;
}
.problemlist{
    text-align: left;
}
.title{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

@media only screen and (min-width: 1200px){
  .step img{
    height: 560px;
    width: 510px;
    padding: 20px;
    margin: 0 auto;
}  
}
@media only screen and (max-width: 800px){
	
.nav{
        display: block;
    }
.nav li{
    width: 100%;
    background-color:#B7A289;
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease-in-out;
	border-bottom: 3px solid white;
}
.nav ul{
	margin: 0 auto;
    opacity: 0.9;
	list-style: none;
	padding: 0px;
	width: 100%;
	background-color: white;
    display: none;
}
.nav li a {
	font-size: 125%;
    text-decoration:none;
    color: white;
    padding: 20px 0;
    width: 100%;
}	

.toggle{
    display: block;
    cursor: pointer;
    overflow: hidden;
    
    }
.toggle span{
    display: block;
    font-size: 30px;
    transition: .6s;
    }
    .fa-times{
        display: none;
    }
    .toggle span.active{
        display: block;
    }
.wrapper{
	width: 85%;
    margin: 0 auto;

}
    .positioningtext{
    font-size: 2.6rem;
    }
    #articleheader{
	font-size: 50px;
	margin: 20px;
    padding 0;
	font-family: "Open Sans",sans-serif;
}
    .step img{
    height: 60%;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}
}
@media only screen and (max-width: 475px){
    
.positioningtext{
    font-size: 1.6rem;
    }
    #searchBar{
        width: 140px;
    }
    .headerp{
        font-size: 105%;
        
    }
    .testimonialpic{
	width: 150px;
	height: 150px;
}
    .parallax-window {
    min-height: 400px;
    background: transparent;
}
    .gallery{
    width: 200px;
    height: 200px;
    padding: 5px;
}
    .blogarticle{
        font-size: 100%;
        
    }
    .content{
        width: 100%;
        padding: 15px;
    }
    #comments-container{
    width: 90%;
    
}
    .search-form{
        width: 80%;
    }
    .categorytitle{
        font-size: 95%;
    }

    .photocategory{
        width: 70%;
    }
    .clientbox p{
	margin-top: 10px;
	font-size: 10px;
    width: 65%;
    margin-bottom: 15;
    }
    .wrapper{
	width: 95%;
}
    #articleheader{
	font-size: 40px;
	margin: 20px;
    padding 0;
	font-family: "Open Sans",sans-serif;
}
    .step img{
    height: 65%;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}
    .headerpp{
    font-size: 32px;
	
}
}