@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);
* {
  box-sizing: border-box; }

#body {
  background: rgb(230,230,230);
  color: #212121;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  padding: 5rem 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.optin-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 30rem; }

.cta {
  background: #B7A289;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  line-height: 1;
  padding: 1.75rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%; }
  @media screen and (max-width: 600px) {
    .cta {
      line-height: 1.4;
      padding: 1.25rem 1rem; } }

#form {
  background: black;
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem;
  maring: 0; }
  #form input {
    padding: .75rem;
    margin: 0; }
    #form input[type="email"] {
      border: none;
      font-size: 1rem;
      flex: 1;
      outline: #E52B50; }
      #form input[type="email"]:focus {
        outline: 0.25rem solid #E52B50; }
    #form input[type="submit"] {
      background: linear-gradient(#97856f, #897863);
      cursor: pointer;
      color: white;
      border: none;
      font-size: 1rem;
      margin: 0 0 0 1rem;
      padding: 0 3rem;
      transition: all .25s ease-in-out; }
      #form input[type="submit"]:hover {
        background: linear-gradient(#71c171, #60ba60); }
  @media screen and (max-width: 600px) {
    #form {
      flex-flow: row wrap; }
      #form input {
        padding: 1rem !important;
        margin: 0 !important;
        flex: 100%; }
        #form input[type="submit"] {
          margin-top: 1rem !important; } }

.hidden {
  display: none; }
